@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit";
    overflow-x: hidden;
}
 
.container{
    max-width: 1280px;
    margin: 0 auto;
}

body{
    background-color: #050a30;
    height: 100vh;
    color: #f4f6fc;
    overflow: hidden;
}

main{
    animation: in 1s forwards;
}

/*HEADER*/
header{
    height: 80px;
    background-color: #12229d;
    
}

header .container{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

header img{
    width: 100px;
    height: 80px;
    scale: 1.9;
    object-fit: contain;
    transition: .2s;
}
header img:hover{
    filter: drop-shadow(0px 0px 2px #cae8ff);
    scale: 2;
}

header .menu{
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

header .menu i{
    margin-right: 4px;
}

header a{
    color: #f4f6fc;
    text-decoration: none;
    cursor: pointer;
    transition: .2s;
    display: flex;
}
header a:hover{
    transform: scale(1.05);
    text-shadow: 0 0 7px #cae8ff;
}

header button{
    border: 0;
    box-shadow: 0 0 5px #cae8ff;
    padding: 7px 7px;
    border-radius: 15px;
    background-color: #cae8ff;
    transition: .5s;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 17px;
    scale: 1.09;
    text-transform: uppercase;
    
}
header button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #cae8ff;
}

/*MEDIA QUERY*/
@media (max-width: 768px){

    header{
        padding: 20px;
    }
    header .container{
        padding: 0px 8%;
    }

    header .menu{
        display: none;
    }

}

/*KEYFRAMES*/

@keyframes in{
    0%{
        opacity: 0%;
        scale: 1.05;
    }
    100%{
        opacity: 100%;
        scale: 1;
    }
}