h1{
    text-align: center;
    margin-top: 4rem;
    text-transform: uppercase;
}

main .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .sobre-geral{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 3.5rem;
    gap: 80px;
    
}


main img{
    height: 400px;
    width: 500px;
    border-radius: 16px;
    border: 2px solid;
    object-fit: cover;
    
}

main .txt-geral{
    width: 500px;
    font-size: 20px;  
   
}
