
/*intro*/
header .menu{
    margin: 0;
}
main .img-intro img{
    width: 450px;
    border-radius: 10px;
    border: 2px solid #cae8ff;
    
}

main .intro{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 130px;
    
}
main h1{
    font-size: 56px;
    line-height: 50px;
    text-transform: uppercase;
}
main h3{
    color: #7fc0f1;
}
main p{
    margin-top: 10px;
    width: 450px;
}

main .txt-intro img{
    width: 40px;  
    height: 40px; 
    object-fit: contain;
}

main .linguagens{
    margin-top: 20px;
}

main .linguagens img{
    margin: 0 4px;
}

main .container i{
    display: none;
}


/*media query*/
@media (max-width: 768px){

    
    main{
        overflow-x: hidden;
    }
   
    main .img-intro img{
        width: 350px;
    }

    main .intro {
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        gap: 10px;
    }

    main .txt-intro p{
        padding: 0 8%;
        margin-top: 20px;
        margin-bottom: 10%;
    }

    main .txt-secundary{
        display: flex;
        flex-direction: column-reverse;
        
    }

    main .container{
        padding: 0px 8%;
    }

    main .container i{
        display: inline-block;
        margin-top: 52px;
        padding: 30px;
    }
}